<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Blog</title>
    <style>
      .navbar .form-inline {
  display: inline-block;
}
.navbar .nav li {
  position: relative;
}
.navbar .nav li a {
  color: #888;
}

.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  color: #fff;
  background: #f2a365;
  padding-top: 8px;
  padding-bottom: 6px;
  vertical-align: middle;
  border: none;
}
.navbar .nav .btn-primary:hover,
.navbar .nav .btn-primary:focus {
  color: #fff;
  outline: none;
  background: #f2a365;
}

.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}

.navbar .form-wrapper .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}
.navbar .form-wrapper .social-btn .btn,
.navbar .form-wrapper .social-btn .btn:hover {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-size: 13px;
  border: none;
  transition: all 0.4s;
  text-align: center;
  line-height: 34px;
  width: 47%;
  text-decoration: none;
}
.navbar .social-btn .btn-primary {
  background: #507cc0;
}
.navbar .social-btn .btn-primary:hover {
  background: #4676bd;
}
.navbar .social-btn .btn-info {
  background: #64ccf1;
}
.navbar .social-btn .btn-info:hover {
  background: #4ec7ef;
}

.or-seperator {
  margin-top: 32px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator b {
  color: #666;
  padding: 0 8px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 26px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -15px;
  z-index: 1;
}

.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-bg-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Food Blog</a>
          <ul class="nav navbar-nav navbar-right ml-auto">			
            <li class="nav-item">
              <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Login</a>
              <ul class="dropdown-menu form-wrapper">					
                <li>
                  <form action="/examples/actions/confirmation.php" method="post">
                    <p class="hint-text">Sign in with your social media account</p>
                    <div class="form-group social-btn clearfix">
                      <a href="#" class="btn btn-primary pull-left"><i class="fa fa-facebook"></i> Facebook</a>
                      <a href="#" class="btn btn-info pull-right"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <div class="or-seperator"><b>or</b></div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" required="required">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Login">
                    <div class="form-footer">
                      <a href="#">Forgot Your password?</a>
                    </div>
                  </form>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Sign up</a>
              <ul class="dropdown-menu form-wrapper">					
                <li>
                  <form action="/examples/actions/confirmation.php" method="post">
                    <p class="hint-text">Fill in this form to create your account!</p>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Confirm Password" required="required">
                    </div>
                    <div class="form-group">
                      <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1 class="mb-4">Create Article</h1>

      <form action="/articles" method="POST">
        <%- include("_form_field") %>
      </form>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</html>
